@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small utility tweaks to better match mockup */
html, body, #root {
  height: 100%;
  background: white;
}

h1, h2, h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
